body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('n6.jpg'); 
    background-size: cover;
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-attachment: fixed;
    box-sizing: border-box;
}
.login-container {
    background-color: transparent;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 50px #b92c48;
    width: 300px;
}
label {
    font-weight: bold;
}
input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}
input::placeholder {
    color: #aaa;
    font-style: italic;
}
button {
    width: 100%;
    background-color: #8c1a34;
    color: white;
    padding: 10px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #8c1a34; /* Darker background color on hover */
    transform: translateY(-5px) scale(1.05); /* Moves button up and scales it */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.button:active {
    transform: translateY(0) scale(1); /* Reset scaling on click */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Back to original shadow */
}

.error {
    color: #8c1a34;
    font-size: 12px;
}
/* Responsive Design */
@media (max-width: 768px) {
    .center-box {
        width: 300px;
    }
    
    .admin-button {
        font-size: 0.9rem;
        padding: 12px;
    }
}

/* Media Queries for Responsive Design */

/* Tablet Styles */
@media (max-width: 1024px) {
    nav {
        flex-direction: column; /* Stack navigation links vertically */
    }

    /* Adjust header font size */
    header {
        font-size: 1.5rem; /* Smaller font size */
    }
}

/* Mobile Styles */
@media (max-width: 768px) {
    body {
        font-size: 14px; /* Smaller font size for mobile */
    }

    nav a {
        padding: 8px 15px; /* Smaller padding for links */
        font-size: 14px; /* Font size for links */
    }

    header {
        padding: 15px 0; /* Less padding for header */
    }

    main {
        padding: 15px; /* Less padding for main content */
    }
}

/* Extra Small Mobile Styles */
@media (max-width: 480px) {
    header {
        font-size: 1.2rem; /* Even smaller font size for extra small devices */
    }

    nav a {
        padding: 5px 10px; /* Minimal padding for links */
        font-size: 12px; /* Font size for links */
    }

    main {
        padding: 10px; /* Minimal padding for main content */
    }
}